{% extends "admin/base_site_grid.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script>
$(function() {
    // 日期時間選擇器初始化
    $('.datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
});
</script>
{% endblock %}

{% block content_title %}
<div class="row">
    <div class="col">
        <h1>{% if title %}{{ title }}{% endif %}</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post" id="schedconfig_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-right">
                        <input type="submit" value="{% trans '儲存' %}" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 